numpy==1.24.3
flask==2.3.2
sqlalchemy==2.0.15
psycopg2-binary==2.9.6
hurry.filesize==0.9
requests==2.31.0
pandas==2.0.1
ortools==9.6.2534
cmake==3.26.3
scikit-learn==1.2.2
matplotlib==3.7.1
pyproj==3.5.0
geopy==2.3.0
Cython==0.29.35
setuptools==67.8.0